body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    background-color: #f8f9fa;
    padding: 3rem 2rem;
    margin: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.resume {
    text-align: center;
}

.resume ul {
    list-style: none;
}

.footers {
    text-align: center;
}

h1, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p, li {
    font-family: 'Roboto', sans-serif;
}
.footer-section {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-section a:hover {
    color: #0d6efd;
  }